<div class="max-w-7xl mx-auto py-8 px-4">
  <div
    class="flex flex-col md:flex-row md:items-center justify-between gap-6 bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs"
  >
    <div>
      <h1 class="text-3xl font-serif font-bold text-heading">All Recipes</h1>
      <p class="text-body text-sm">Discover our kitchen-tested favorites.</p>
    </div>
    <div class="flex justify-center md:justify-end w-full md:w-auto">
      <select
        [value]="filters().category"
        (change)="onCategoryChange($any($event.target).value)"
        class="bg-stone-50 border border-default text-heading text-sm rounded-base px-4 py-2.5 min-w-50 focus:outline-none focus:ring-2 focus:ring-brand transition"
      >
        <option value="">All Categories</option>

        @for (cat of categories(); track cat._id) {
          <option [value]="cat._id" [selected]="filters().category === cat._id">
            {{ cat.name }}
          </option>
        }
      </select>
    </div>
  </div>
</div>

<main class="max-w-7xl mx-auto mb-24">
  @if (loading()) {
    <app-spinner message="Loading our recipes" />
  } @else if (error()) {
    <app-error-message [message]="error()" />
  } @else {
    @if (recipes().length && recipes().length > 0) {
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (recipe of recipes(); track recipe._id) {
          <app-recipe-card
            [data]="recipe"
            (toggleLike)="facade.toggleLike(recipe)"
            (toggleFavorite)="facade.toggleFavorite(recipe)"
          />
        }
      </div>
    } @else {
      <p class="italic text-xl py-16 text-body-subtle text-center">No recipes found</p>
    }
  }
</main>

<app-pagination
  [totalItems]="total()"
  [pageSize]="filters().limit"
  [currentPage]="filters().page"
  (pageChange)="onPageClick($event)"
/>
