<div class="max-w-7xl mx-auto py-8">
  <div
    class="flex flex-col md:flex-row md:items-center justify-between gap-4 bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs"
  >
    <div>
      <h1 class="text-3xl font-serif font-bold text-heading">All Recipes</h1>
      <p class="text-body text-sm">Discover our kitchen-tested favorites.</p>
    </div>
    <div class="flex gap-2">
      <select
        #categorySelect
        [value]="filters().category"
        (change)="onCategoryChange(categorySelect.value)"
        class="bg-stone-50 border border-default text-heading text-sm rounded-base p-2.5"
      >
        <option value="" [selected]="filters().category === ''">All Categories</option>
        @for (type of ['Dinner', 'Salad', 'Breakfast']; track type) {
          <option [value]="type" [selected]="filters().category === type">{{ type }}</option>
        }
      </select>
    </div>
  </div>
</div>

<main class="max-w-7xl mx-auto mb-24">
  @if (loading()) {
    <app-spinner message="Loading our recipes" />
  } @else if (error()) {
    <app-error-message [message]="error()" />
  } @else {
    @if (recipes().length && recipes().length > 0) {
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (recipe of recipes(); track recipe._id) {
          <app-recipe-card
            [data]="recipe"
            (toggleLike)="facade.toggleLike(recipe)"
            (toggleFavorite)="facade.toggleFavorite(recipe)"
          />
        }
      </div>
    } @else {
      <p class="italic text-xl py-16 text-body-subtle text-center">No recipes found</p>
    }
  }
</main>

<app-pagination
  [totalItems]="total()"
  [pageSize]="filters().limit"
  [currentPage]="filters().page"
  (pageChange)="onPageClick($event)"
/>
