<section>
  <h2 class="text-3xl font-serif font-bold text-heading mb-10 text-center">
    Latest from the Kitchen
  </h2>
  <div class="grid md:grid-cols-3 gap-8">
    @for (i of [1, 2, 3]; track $index) {
      <app-recipe-card
        [data]="item"
        (toggleLike)="handleLike(item.id)"
        (toggleFavorite)="handleFavorite(item.id)"
      />
    }
  </div>
  <div class="pt-20 w-fit mx-auto">
    <a
      routerLink="/recipes"
      class="bg-brand text-white px-8 py-4 rounded-base font-bold hover:bg-brand-strong shadow-lg transition-all"
    >
      Explore More Recipes
    </a>
  </div>
</section>
