<main class="max-w-7xl mx-auto py-8">
  @if (loading()) {
    <app-spinner message="Loading the recipe" />
  } @else if (error()) {
    <app-error-message [message]="error()" />
  } @else {
    @if (recipe() !== null) {
      <div class="text-center mb-12">
        <nav
          class="flex justify-center gap-2 text-xs font-bold text-body uppercase tracking-widest mb-4"
        >
          <a routerLink="/recipes" class="hover:text-brand">Recipes</a>
          <span>/</span>
          <a
            class="hover:text-brand"
            [routerLink]="'/recipes'"
            [queryParams]="{ category: recipe()?.category?._id }"
          >
            {{ recipe()?.category?.name }}
          </a>
        </nav>
        <h1 class="text-4xl md:text-6xl font-serif font-bold text-heading mb-6">
          {{ recipe()?.title }}
        </h1>

        <div class="flex flex-wrap justify-center items-center gap-6">
          <div class="flex items-center gap-2">
            <img
              src="https://ui-avatars.com/api/?name={{ recipe()?.createdBy?.name }}"
              class="w-8 h-8 rounded-full"
            />
            <span class="text-sm font-medium text-heading">{{ recipe()?.createdBy?.name }}</span>
          </div>
          <div class="h-4 w-px bg-default hidden md:block"></div>
          <div class="flex items-center gap-4">
            <!-- <button class="flex items-center gap-2 group" (click)="toggleLike(recipe())"> -->
            <button class="flex items-center gap-2 group">
              <svg
                class="w-6 h-6 group-hover:fill-brand transition-all"
                [class.fill-brand]="recipe()?.isLiked"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                />
              </svg>
              <span class="text-sm font-bold text-heading">1,204 Likes</span>
            </button>
            <!-- <button class="flex items-center gap-2 group" (click)="toggleFavorite(recipe())"> -->
            <button class="flex items-center gap-2 group">
              <svg
                class="w-6 h-6 group-hover:text-brand transition-all"
                [class.text-brand]="recipe()?.isFavorite"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
              </svg>
              <span class="text-sm font-bold text-heading">Save</span>
            </button>
          </div>
        </div>
      </div>

      <div class="max-w-5xl mx-auto rounded-base overflow-hidden shadow-sm mb-16 aspect-video">
        <img [src]="getImageUrl(recipe()?.image)" class="w-full h-full object-cover" />
      </div>

      <div class="grid lg:grid-cols-3 px-4 gap-12">
        <aside class="lg:col-span-1">
          <div class="bg-neutral-primary-soft border border-default rounded-base p-8 sticky top-32">
            <h3 class="text-xl font-serif font-bold text-heading mb-6 border-b border-default pb-4">
              Ingredients
            </h3>
            <ul class="space-y-4">
              @for (item of recipe()?.ingredients; track item) {
                <li class="flex items-start gap-1">
                  <span class="text-brand text-base font-medium">{{ item.quantity }}</span>
                  <span class="text-body text-sm"> of {{ item.name }}</span>
                </li>
              } @empty {
                <li>No ingredients listed.</li>
              }
            </ul>
          </div>
        </aside>

        <div class="lg:col-span-2 space-y-12">
          <h3 class="text-3xl font-serif font-bold text-heading">Instructions</h3>
          @for (step of recipe()?.steps; track $index) {
            <div class="flex gap-6">
              <span
                class="shrink-0 w-10 h-10 bg-brand text-white rounded-full flex items-center justify-center font-bold"
              >
                {{ $index + 1 }}
              </span>
              <div>
                <h4 class="text-lg font-bold text-heading mb-2">
                  Preparation Step {{ $index + 1 }}
                </h4>
                <p class="text-body leading-relaxed">
                  {{ step }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>

      <app-comments-list
        [comments]="comments()"
        [currentUserId]="currentUserId"
        [onAdd]="addComment.bind(this)"
        [onUpdate]="updateComment.bind(this)"
        [onDelete]="deleteComment.bind(this)"
      ></app-comments-list>
    } @else {
      <p class="italic text-xl py-16 text-body-subtle text-center">No recipe found</p>
    }
  }
</main>
