<section>
  <h2 class="text-3xl font-serif font-bold text-heading mb-10 text-center">
    Latest from the Kitchen
  </h2>

  @if (loading()) {
    <app-spinner message="Loading home recipes..." />
  } @else if (error()) {
    <app-error-message [message]="error()" />
  } @else {
    @if (recipes().length && recipes().length > 0) {
      <div class="grid md:grid-cols-3 gap-8">
        @for (recipe of recipes(); track recipe._id) {
          <app-recipe-card
            [data]="recipe"
            (toggleLike)="facade.toggleLike(recipe)"
            (toggleFavorite)="facade.toggleFavorite(recipe)"
          />
        }
      </div>
    } @else {
      <p class="italic text-xl py-16 text-body-subtle text-center">No recipes found</p>
    }
  }
  <div class="pt-20 w-fit mx-auto">
    <a
      routerLink="/recipes"
      class="bg-brand text-white px-8 py-4 rounded-base font-bold hover:bg-brand-strong shadow-lg transition-all"
    >
      Explore More Recipes
    </a>
  </div>
</section>
